// ---------------------------------------------------------
// Hello
// ---------------------------------------------------------

@use '../global' as *;

#hello{
    position: absolute;
    width: 100%;
    height: 100%;
    background: color(btow, 1000);
}

