/* --- library --- */

:root {

    /* Choice your color  */
        /* Primary */
        --primary_color_normal:#66EFD7;
        --primary_color_light: #;
        --primary_color_dark: ;
        /* Secondary */
        --secondary_color_normal: ;
        --secondary_color_light: ;
        --secondary_color_dark: ;
        /* Tertiary */
        --tertiary_color_normal: ;
        --tertiary_color_light: ;
        --tertiary_color_dark: ;
        /* Quaternary */
        --quaternary_color_normal: ;
        --quaternary_color_light: ;
        --quaternary_color_dark: ;
        /* Accent */
        --accent_color_normal: yellow;
        --accent_color_light: ;
        --accent_color_dark: ;
        /* Gradient */
        --gradient_dark: #050528;
        --gradient_grey_9: #1e1e3e;
        --gradient_grey_8: #373753;
        --gradient_grey_7: #505069;
        --gradient_grey_6: #69697e;
        --gradient_grey_5: #828294;
        --gradient_grey_4: #9b9ba9;
        --gradient_grey_3: #b4b4bf;
        --gradient_grey_2: #cdcdd4;
        --gradient_grey_1: #e6e6ea;
        --gradient_light: #ffffff;
    
    }
    /* --- end library --- */
    
    
    /* Mise à zéro */
    
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    html {
        font-size: 100%;
    }
    
    img {
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
    }
    ul {
        padding-left: 0;
    }
    
    /* Fin mise à zéro */